<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>languageName</key>
        <string>Chemistry</string>
        <key>quizletAcronym</key>
        <string></string>
        <key>googleAcronym</key>
        <string>chemistry</string>
        <key>flashcardExchangeAcronym</key>
        <string></string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Math</string>
        <key>quizletAcronym</key>
        <string></string>
        <key>googleAcronym</key>
        <string>math</string>
        <key>flashcardExchangeAcronym</key>
        <string></string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Afrikaans</string>
        <key>googleAcronym</key>
        <string>af</string>
        <key>quizletAcronym</key>
        <string>af</string>
        <key>flashcardExchangeAcronym</key>
        <string>af</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Albanian</string>
        <key>googleAcronym</key>
        <string>sq</string>
        <key>quizletAcronym</key>
        <string>sq</string>
        <key>flashcardExchangeAcronym</key>
        <string>sq</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Arabic</string>
        <key>googleAcronym</key>
        <string>ar</string>
        <key>appleAcronym</key>
        <string>ar</string>
        <key>quizletAcronym</key>
        <string>ar</string>
        <key>flashcardExchangeAcronym</key>
        <string>ar</string>
        <key>appleTtsAcronym</key>
        <string>ar-SA</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Belarusian</string>
        <key>googleAcronym</key>
        <string>be</string>
        <key>quizletAcronym</key>
        <string>be</string>
        <key>flashcardExchangeAcronym</key>
        <string>be</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Bulgarian</string>
        <key>googleAcronym</key>
        <string>bg</string>
        <key>quizletAcronym</key>
        <string>bg</string>
        <key>flashcardExchangeAcronym</key>
        <string>bg</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Catalan</string>
        <key>googleAcronym</key>
        <string>ca</string>
        <key>appleAcronym</key>
        <string>ca</string>
        <key>quizletAcronym</key>
        <string>ca</string>
        <key>flashcardExchangeAcronym</key>
        <string>ca</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Chinese</string>
        <key>googleAcronym</key>
        <string>zh-CN</string>
        <key>appleAcronym</key>
        <string>zh-Hans</string>
        <key>quizletAcronym</key>
        <string>zh-CN</string>
        <key>flashcardExchangeAcronym</key>
        <string>zh-CN</string>
        <key>appleTtsAcronym</key>
        <string>zh-HK</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Croatian</string>
        <key>googleAcronym</key>
        <string>hr</string>
        <key>appleAcronym</key>
        <string>hr</string>
        <key>quizletAcronym</key>
        <string>hr</string>
        <key>flashcardExchangeAcronym</key>
        <string>hr</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Czech</string>
        <key>googleAcronym</key>
        <string>cs</string>
        <key>appleAcronym</key>
        <string>cs</string>
        <key>quizletAcronym</key>
        <string>cs</string>
        <key>flashcardExchangeAcronym</key>
        <string>cs</string>
        <key>appleTtsAcronym</key>
        <string>cs-CZ</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Danish</string>
        <key>googleAcronym</key>
        <string>da</string>
        <key>appleAcronym</key>
        <string>da</string>
        <key>quizletAcronym</key>
        <string>da</string>
        <key>flashcardExchangeAcronym</key>
        <string>da</string>
        <key>appleTtsAcronym</key>
        <string>da-DK</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Dutch</string>
        <key>googleAcronym</key>
        <string>nl</string>
        <key>appleAcronym</key>
        <string>nl</string>
        <key>quizletAcronym</key>
        <string>nl</string>
        <key>flashcardExchangeAcronym</key>
        <string>nl</string>
        <key>appleTtsAcronym</key>
        <string>nl-NL</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>English</string>
        <key>googleAcronym</key>
        <string>en</string>
        <key>appleAcronym</key>
        <string>en</string>
        <key>quizletAcronym</key>
        <string>en</string>
        <key>flashcardExchangeAcronym</key>
        <string>en</string>
        <key>appleTtsAcronym</key>
        <string>en-US</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Estonian</string>
        <key>googleAcronym</key>
        <string>et</string>
        <key>quizletAcronym</key>
        <string>et</string>
        <key>flashcardExchangeAcronym</key>
        <string>et</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Filipino</string>
        <key>googleAcronym</key>
        <string>tl</string>
        <key>quizletAcronym</key>
        <string>fil</string>
        <key>flashcardExchangeAcronym</key>
        <string>fil</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Finnish</string>
        <key>googleAcronym</key>
        <string>fi</string>
        <key>appleAcronym</key>
        <string>fi</string>
        <key>quizletAcronym</key>
        <string>fi</string>
        <key>flashcardExchangeAcronym</key>
        <string>fi</string>
        <key>appleTtsAcronym</key>
        <string>fi-FI</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>French</string>
        <key>googleAcronym</key>
        <string>fr</string>
        <key>appleAcronym</key>
        <string>fr</string>
        <key>quizletAcronym</key>
        <string>fr</string>
        <key>flashcardExchangeAcronym</key>
        <string>fr</string>
        <key>appleTtsAcronym</key>
        <string>fr-FR</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Galician</string>
        <key>googleAcronym</key>
        <string>gl</string>
        <key>quizletAcronym</key>
        <string>gl</string>
        <key>flashcardExchangeAcronym</key>
        <string>gl</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>German</string>
        <key>googleAcronym</key>
        <string>de</string>
        <key>appleAcronym</key>
        <string>de</string>
        <key>quizletAcronym</key>
        <string>de</string>
        <key>flashcardExchangeAcronym</key>
        <string>de</string>
        <key>appleTtsAcronym</key>
        <string>de-DE</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Greek</string>
        <key>googleAcronym</key>
        <string>el</string>
        <key>appleAcronym</key>
        <string>el</string>
        <key>quizletAcronym</key>
        <string>el</string>
        <key>flashcardExchangeAcronym</key>
        <string>el</string>
        <key>appleTtsAcronym</key>
        <string>el-GR</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Hebrew</string>
        <key>googleAcronym</key>
        <string>iw</string>
        <key>appleAcronym</key>
        <string>he</string>
        <key>quizletAcronym</key>
        <string>iw</string>
        <key>flashcardExchangeAcronym</key>
        <string>iw</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Hindi</string>
        <key>googleAcronym</key>
        <string>hi</string>
        <key>quizletAcronym</key>
        <string>hi</string>
        <key>flashcardExchangeAcronym</key>
        <string>hi</string>
        <key>appleTtsAcronym</key>
        <string>hi-IN</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Hungarian</string>
        <key>googleAcronym</key>
        <string>hu</string>
        <key>appleAcronym</key>
        <string>hu</string>
        <key>quizletAcronym</key>
        <string>hu</string>
        <key>flashcardExchangeAcronym</key>
        <string>hu</string>
        <key>appleTtsAcronym</key>
        <string>hu-HU</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Icelandic</string>
        <key>googleAcronym</key>
        <string>is</string>
        <key>quizletAcronym</key>
        <string>is</string>
        <key>flashcardExchangeAcronym</key>
        <string>is</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Indonesian</string>
        <key>googleAcronym</key>
        <string>id</string>
        <key>quizletAcronym</key>
        <string>id</string>
        <key>flashcardExchangeAcronym</key>
        <string>id</string>
        <key>appleTtsAcronym</key>
        <string>id-ID</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Irish</string>
        <key>googleAcronym</key>
        <string>ga</string>
        <key>quizletAcronym</key>
        <string>ga</string>
        <key>flashcardExchangeAcronym</key>
        <string>ga</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Italian</string>
        <key>googleAcronym</key>
        <string>it</string>
        <key>appleAcronym</key>
        <string>it</string>
        <key>quizletAcronym</key>
        <string>it</string>
        <key>flashcardExchangeAcronym</key>
        <string>it</string>
        <key>appleTtsAcronym</key>
        <string>it-IT</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Japanese</string>
        <key>googleAcronym</key>
        <string>ja</string>
        <key>appleAcronym</key>
        <string>ja</string>
        <key>quizletAcronym</key>
        <string>ja</string>
        <key>flashcardExchangeAcronym</key>
        <string>ja</string>
        <key>appleTtsAcronym</key>
        <string>ja-JP</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Korean</string>
        <key>googleAcronym</key>
        <string>ko</string>
        <key>appleAcronym</key>
        <string>ko</string>
        <key>quizletAcronym</key>
        <string>ko</string>
        <key>flashcardExchangeAcronym</key>
        <string>ko</string>
        <key>appleTtsAcronym</key>
        <string>ko-KR</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Latvian</string>
        <key>googleAcronym</key>
        <string>lv</string>
        <key>quizletAcronym</key>
        <string>lv</string>
        <key>flashcardExchangeAcronym</key>
        <string>lv</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Lithuanian</string>
        <key>googleAcronym</key>
        <string>lt</string>
        <key>quizletAcronym</key>
        <string>lt</string>
        <key>flashcardExchangeAcronym</key>
        <string>lt</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Macedonian</string>
        <key>googleAcronym</key>
        <string>mk</string>
        <key>quizletAcronym</key>
        <string>mk</string>
        <key>flashcardExchangeAcronym</key>
        <string>mk</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Malay</string>
        <key>googleAcronym</key>
        <string>ms</string>
        <key>quizletAcronym</key>
        <string>ms</string>
        <key>flashcardExchangeAcronym</key>
        <string>ms</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Maltese</string>
        <key>googleAcronym</key>
        <string>mt</string>
        <key>quizletAcronym</key>
        <string>mt</string>
        <key>flashcardExchangeAcronym</key>
        <string>mt</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Norwegian</string>
        <key>googleAcronym</key>
        <string>no</string>
        <key>appleAcronym</key>
        <string>nb</string>
        <key>quizletAcronym</key>
        <string>no</string>
        <key>flashcardExchangeAcronym</key>
        <string>no</string>
        <key>appleTtsAcronym</key>
        <string>no-NO</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Persian</string>
        <key>googleAcronym</key>
        <string>fa</string>
        <key>quizletAcronym</key>
        <string>fa</string>
        <key>flashcardExchangeAcronym</key>
        <string>fa</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Polish</string>
        <key>googleAcronym</key>
        <string>pl</string>
        <key>appleAcronym</key>
        <string>pl</string>
        <key>quizletAcronym</key>
        <string>pl</string>
        <key>flashcardExchangeAcronym</key>
        <string>pl</string>
        <key>appleTtsAcronym</key>
        <string>pl-PL</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Portuguese</string>
        <key>googleAcronym</key>
        <string>pt</string>
        <key>appleAcronym</key>
        <string>pt</string>
        <key>quizletAcronym</key>
        <string>pt</string>
        <key>flashcardExchangeAcronym</key>
        <string>pt</string>
        <key>appleTtsAcronym</key>
        <string>pt-PT</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Romanian</string>
        <key>googleAcronym</key>
        <string>ro</string>
        <key>appleAcronym</key>
        <string>ro</string>
        <key>quizletAcronym</key>
        <string>ro</string>
        <key>flashcardExchangeAcronym</key>
        <string>ro</string>
        <key>appleTtsAcronym</key>
        <string>ro-RO</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Russian</string>
        <key>googleAcronym</key>
        <string>ru</string>
        <key>appleAcronym</key>
        <string>ru</string>
        <key>quizletAcronym</key>
        <string>ru</string>
        <key>flashcardExchangeAcronym</key>
        <string>ru</string>
        <key>appleTtsAcronym</key>
        <string>ru-RU</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Serbian</string>
        <key>googleAcronym</key>
        <string>sr</string>
        <key>quizletAcronym</key>
        <string>sr</string>
        <key>flashcardExchangeAcronym</key>
        <string>sr</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Slovak</string>
        <key>googleAcronym</key>
        <string>sk</string>
        <key>appleAcronym</key>
        <string>sk</string>
        <key>quizletAcronym</key>
        <string>sk</string>
        <key>flashcardExchangeAcronym</key>
        <string>sk</string>
        <key>appleTtsAcronym</key>
        <string>sk-SK</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Slovenian</string>
        <key>googleAcronym</key>
        <string>sl</string>
        <key>quizletAcronym</key>
        <string>sl</string>
        <key>flashcardExchangeAcronym</key>
        <string>sl</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Spanish</string>
        <key>googleAcronym</key>
        <string>es</string>
        <key>appleAcronym</key>
        <string>es</string>
        <key>quizletAcronym</key>
        <string>es</string>
        <key>flashcardExchangeAcronym</key>
        <string>es</string>
        <key>appleTtsAcronym</key>
        <string>es-ES</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Swahili</string>
        <key>googleAcronym</key>
        <string>sw</string>
        <key>quizletAcronym</key>
        <string>sw</string>
        <key>flashcardExchangeAcronym</key>
        <string>sw</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Swedish</string>
        <key>googleAcronym</key>
        <string>sv</string>
        <key>appleAcronym</key>
        <string>sv</string>
        <key>quizletAcronym</key>
        <string>sv</string>
        <key>flashcardExchangeAcronym</key>
        <string>sv</string>
        <key>appleTtsAcronym</key>
        <string>sv-SE</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Thai</string>
        <key>googleAcronym</key>
        <string>th</string>
        <key>appleAcronym</key>
        <string>th</string>
        <key>quizletAcronym</key>
        <string>th</string>
        <key>appleTtsAcronym</key>
        <string>th-TH</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Turkish</string>
        <key>googleAcronym</key>
        <string>tr</string>
        <key>appleAcronym</key>
        <string>tr</string>
        <key>quizletAcronym</key>
        <string>tr</string>
        <key>flashcardExchangeAcronym</key>
        <string>tr</string>
        <key>appleTtsAcronym</key>
        <string>tr-TR</string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Ukrainian</string>
        <key>googleAcronym</key>
        <string>uk</string>
        <key>appleAcronym</key>
        <string>uk</string>
        <key>quizletAcronym</key>
        <string>uk</string>
        <key>flashcardExchangeAcronym</key>
        <string>uk</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Vietnamese</string>
        <key>googleAcronym</key>
        <string>vi</string>
        <key>appleAcronym</key>
        <string>vi</string>
        <key>quizletAcronym</key>
        <string>vi</string>
        <key>flashcardExchangeAcronym</key>
        <string>vi</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Welsh</string>
        <key>googleAcronym</key>
        <string>cy</string>
        <key>quizletAcronym</key>
        <string>cy</string>
        <key>flashcardExchangeAcronym</key>
        <string>cy</string>
        <key>New item</key>
        <string></string>
    </dict>
    <dict>
        <key>languageName</key>
        <string>Yiddish</string>
        <key>googleAcronym</key>
        <string>yi</string>
        <key>quizletAcronym</key>
        <string>yi</string>
        <key>flashcardExchangeAcronym</key>
        <string>yi</string>
        <key>appleTtsAcronym</key>
        <string></string>
    </dict>
</array>
</plist>
